:root {
  --body-bg-color: #121212;
}

.jumbotron {
  color: white;
}

.cover {
  margin-right: 20px;
}

.hero-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  box-shadow: 10px 10px 44px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.hero-description {
  margin-top: auto;
  margin-bottom: auto;
}

.controls {
  position: relative;
  height: 80px;
  /* background-color: white; */
  margin-top: 30px;
  margin-bottom: 30px;
}

table tr {
  color: white;
}

thead th:last-of-type {
  text-align: right;
}

thead th:first-of-type {
  width: 20px;
  vertical-align: middle;
  color: #827c84;
}

tbody tr td:last-of-type {
  text-align: right;
  color: #827c84;
  font-size: 13px;
  vertical-align: middle;
}

tbody tr td {
  vertical-align: middle;
}

tbody p {
  margin-bottom: 0;
}

tbody tr th {
  vertical-align: middle;
}

.band-name {
  color: #827c84;
  font-size: 12px;
}

.song-title {
  font-size: 12px;
  color: #dbdbdb;
  font-weight: 700;
}

tr th {
  color: #827c84;
  font-size: 13px;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border-bottom: none;
}

.play-button-outer {
  margin: 0;
  width: 3em;
  height: 3em;
  background-color: #1bd760;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  bottom: 0px;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 0;
}

.play-button {
  margin: 0 auto;
  top: 33%;
  left: 4%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 0.9em;
  border-color: transparent transparent transparent #000;
  opacity: 0.75;
}

.play-button-outer:hover {
  background-color: #1cdf63;
  scale: 1.1;
}

.play-button-outer:hover .play-button {
  opacity: 1;
}

.like-icon {
  position: absolute;
  bottom: 4px;
  left: 70px;
  font-size: 25px;
}

.hero-description p,
h1 {
  margin: 0;
}

.hero-description p {
  font-size: 13px;
  font-weight: 700;
}

.hero-description h1 {
  font-size: 40px;
  font-weight: 700;
}
