main {
  padding: 0;
}

/* .body {
  position: relative;
  padding-top: 10px;
  padding-inline: 10px;
} */

/* .main-container {
  position: absolute;
  top: 0;
  left: 0;
} */

.jumbotron-fluid {
  /* position: absolute; */
  background-image: url("https://img-www.tf-cdn.com/artist/10/88rising.jpeg?_v=20220501121343&w=412&h=206&auto=compress&fm=pjpg&fit=crop&crop=faces%2Centropy&dpr=1");
  background-size: cover;
  height: 40vh;
}

.artist-info-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 30px;
  color: white;
}

.artist-info-area h2 {
  font-size: 4rem;
}

.verified-span i.bi.bi-patch-check-fill {
  color: #3d91f4 !important;
  margin-right: 10px;
}

.start-artist {
  background: rgb(140, 140, 140);
  background: linear-gradient(
    180deg,
    rgba(140, 140, 140, 1) 0%,
    rgba(71, 71, 71, 1) 7%,
    rgba(18, 18, 18, 1) 21%
  );
  /* width: 100vw; */
  height: 100vh;
  /* position: absolute;
  margin-top: 450px; */
}

.icons {
  font-size: 30px;
  margin-left: 30px;
}

.icons i.bi-pause-circle-fill {
  font-size: 3.8rem;
  color: #1db954;
}

button.follow-btn {
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  color: white;
  width: 100px;
  border: 1px solid white;
  margin-inline: 20px;
}
