main {
  padding: 0;
}

/* .body {
  position: relative;
  padding-top: 10px;
  padding-inline: 10px;
} */

/* .main-container {
  position: absolute;
  top: 0;
  left: 0;
} */

.jumbotron-fluid {
  /* position: absolute; */
  /* background-image: url("https://img-www.tf-cdn.com/artist/10/88rising.jpeg?_v=20220501121343&w=412&h=206&auto=compress&fm=pjpg&fit=crop&crop=faces%2Centropy&dpr=1"); */
  height: 50vh;
  min-height: 340px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artist-info-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.artist-info-area h2 {
  font-size: 4rem;
}

.verified-span i.bi.bi-patch-check-fill {
  color: #3d91f4 !important;
  margin-right: 10px;
}

.start-artist {
  background: rgb(140, 140, 140);
  background: linear-gradient(
    180deg,
    rgba(140, 140, 140, 1) 0%,
    rgba(71, 71, 71, 1) 7%,
    rgba(18, 18, 18, 1) 21%
  );
  /* width: 100vw; */
  height: 60vh;
  /* position: absolute;
  margin-top: 450px; */
}

.play-button-outer {
  margin: 0;
  width: 2.5em;
  height: 2.5em;
  background-color: #1bd760;
  cursor: pointer;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 0;
  bottom: 0px;
  left: 0;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 0;
}

.play-button {
  margin: 0 auto;
  top: 33%;
  left: 4%;
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5em 0 0.5em 0.9em;
  border-color: transparent transparent transparent #000;
  opacity: 0.75;
}

.play-button-outer:hover {
  background-color: #1cdf63;
  scale: 1.1;
}

.play-button-outer:hover .play-button .pause-button {
  opacity: 1;
}

.pause-button {
  width: 2em;
  height: 2em;
  position: absolute;
  margin-inline: 0 auto;
  top: 40px;
  left: 70px;
}

.pause-button::before,
.pause-button::after {
  content: "";
  position: absolute;
  width: 0.3em;
  height: 1.1em;
  background-color: #000;
  transition: all 0.3s ease;
}

.pause-button::before {
  left: 0;
}

.pause-button::after {
  left: 0.5em;
}

.paused .pause-button::before {
  transform: translateX(10px);
}

.paused .pause-button::after {
  transform: translateX(-10px);
}

.icons {
  font-size: 30px;
  margin-left: 30px;
}

.icons i.bi-pause-circle-fill {
  font-size: 3.8rem;
  color: #1db954;
}

button.follow-btn {
  background-color: transparent;
  font-size: 15px;
  font-weight: 700;
  color: white;
  width: 100px;
  border: 1px solid white;
  margin-inline: 20px;
}

.text-muted.text-decoration-none {
  font-size: 1.2rem;
  font-weight: 700;
}

.info-area {
  margin-left: 7px;
}

.popular {
  margin-left: 15px;
  margin-top: 15px;
}

.popular a {
  font-weight: 500;
  color: rgb(85, 85, 85);
}

.artist-image {
  width: 100px;
  height: 100px;
}

#artist-profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

table.table {
  color: white;
  width: 100%;
}

th {
  font-weight: 500;
}

table.table img {
  width: 50px;
  height: 50px;
}

th.image-area {
  width: 50px;
  height: 50px;
}

.table-dark {
  color: white;
  background-color: transparent;
}

.bi-three-dots:hover {
  color: #1db954;
}

.table tr:hover {
  background-color: transparent;
  color: #1db954;
}

.hoverText {
  position: relative;
  border-bottom: 1px solid black;
}

.hoverText:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}
