.header {
    border-bottom: 1px solid lightgrey;
}

.logoImage {
    width: 150px;
    object-fit: cover;
}

.font14 {
    font-size: 14px;
    margin-bottom: 0;
    color: #5d5e62;
}

.facebookIcon {
    width: 25px;
    height: 25px;
    /* margin-right: 10px; */
}

.facebookBtn {
    border-style: none;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 2px;
    width: 320px;
    background-color: #3e5a9b;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}


.appleBtn {
    background-color: #000000;
    border-style: none;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 2px;
    width: 320px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
.googleBtn{
    background-color:#FFFFFF ;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 320px;
    color: rgb(71, 69, 69);
    font-weight: bold;
    font-size: 12px;
    margin: 0;
}
.fa-google{
    background: linear-gradient(to bottom, red , red, yellow ,yellow, green ,green, blue, blue );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.borderLeft {
    border-bottom: 1px solid #ececec;
    width: 130px;
    margin-bottom: 7px;
}

.orDiv {
    font-weight: bolder;
    font-size: 12px;
    color: #5d5e62;
}

.emailInput {
    width: 300px;
    height: 30px;
}



.emailDiv {
    width: 315px;
    padding-block: 5px;
    padding-inline: 5px;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
}

.width320 {
    width: 315px;
}

.fontgreen {
    font-size: 10px;
    color: #aacbaf;
}
#password-link{
    font-size: 10px;
    color: #1FDF64;
}


.font10 {
    font-size: 10px;
    color: #aacbaf;
}

.font12 {
    font-size: 12px;
    font-weight: bolder;
    color: #dad7d4;
}

.loginBtn {
    width: 145px;
    height: 35px;
    border: none;
    font-size: 12px;
    font-weight: bolder;
    border-radius: 20px;
    background-color: #1FDF64;
    color:white;
}
.loginBtn:hover, .signup:hover{
    transform: scale(1.1);
}


.accountDiv {
    width: 320px;
    border-top: 2px solid #ececec;
    text-align: center;
}

.signup {
    border-radius: 20px;
    width: 320px;
    border: 2px solid #757577;
    background-color: #fff;
    color: #757577;
    font-weight: bold;
    font-size: 12px;
    height: 40px;
    margin: 0;
}

